@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(/font/Motterdam-K74zp.ttf);
}
@font-face {
  font-family: font2;
  src: url(../public/font/Motterdam-MVanr.otf);
}
@font-face {
  font-family: font3;
  src: url(/font/shabania.ttf);
}
@font-face {
  font-family: font4;
  src: url(../public/font/Poppins-Regular.ttf);
}
body {
  background-color: black;
}